/* AccordionStyle.css */

.accordianButton {
  background-color: #6a6d6b;
  color: white;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.main-content {
  padding: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
} 

/* Add more styles as needed */

.accordianButton[disabled] {
  background-color: #ddd;
  color: #aaa; /* You can adjust the color for disabled text */
  cursor: not-allowed;
}

/* Optional: Style for the modal */
/* .modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1;
} */

/* Optional: Add styles for hidden elements */
[hidden] {
  display: none !important;
}
